# Enable mod_rewrite
RewriteEngine On

# Set the base directory relative to the public folder
RewriteBase /

# Prevent access to .htaccess itself
RewriteRule ^\.htaccess$ - [F]

# Prevent infinite loop by checking if the request is already for index.php
RewriteCond %{REQUEST_URI} !^/public/index.php$

# Redirect all non-existent files or directories to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/index.php [L]

# Prevent access to app.php if you're using it
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^app\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

