RewriteEngine On
RewriteRule ^([a-zA-Z0-9\-\_\/]*)$ index.php

RewriteRule ^\.htaccess$ - [F]

RewriteCond %{REQUEST_URI} =""

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]

#RewriteRule ^public/.*$ /webroot/index.php [NC,L]


RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^app\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .? - [L]

RewriteRule .? %{ENV:BASE}/app.php [L]

RewriteEngine On RewriteBase / RewriteRule ^index.php$ – [L] RewriteCond %{REQUEST_FILENAME} !-f RewriteCond %{REQUEST_FILENAME} !-d RewriteRule . /index.php [L]

php_value include_path '.;C:\xampp\php\PEAR;C:\xampp\arcadia1'