# Enable mod_rewrite
RewriteEngine On

# Set base directory if necessary
RewriteBase /

# Prevent access to .htaccess itself
RewriteRule ^\.htaccess$ - [F]

# Redirect all non-existent files or directories to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

# Prevent access to app.php if you're using it
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^app\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]
